@font-face{
    font-family: digital-clock-font;
    src: url('font/digital-7.ttf');
}


#display {
    font-family: 'digital-clock-font';
    font-size: 50px;
}

.activeBtn {
    color: red;
}

.operatorBtn {
    color: blue;
}
